<!DOCTYPE html>
<html lang="en">
  <style>
    .fondo-delineado {
      margin: 0;
      /* Elimina márgenes predeterminados */
      height: 100vh;
      background: linear-gradient(to bottom, #0d6efd, white);
      /* Degradado de izquierda a derecha */
    }
  </style>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Referencia a Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <!-- Referencia a tu archivo CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/registro.css') }}" />
    <title>Login</title>
  </head>

  <body class="fondo-delineado">
    <!-- Container Justificado al centro -->
    <div
      class="container full-page d-flex justify-content-center align-items-cente"
    >
      <!-- Columna de 8 de ancho y 6 de largo -->
      <div
        class="col-md-8 col-lg-6"
        style="
          background-color: #f8f9fa;
          color: white;
          border-radius: 5px;
          padding: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          color: #17283b;
        "
      >
        <!-- Imagen de fondo -->
        <div style="text-align: center">
          <img src="{{ url_for('static', filename='img/logoClin.png') }}" width="200px" />
        </div>

        <br />

        <h5 style="text-align: center"><b>INICIAR SESIÓN</b></h5>
        <!-- Formulario Con sus campos -->
        <form action="" method="POST">
          <div class="mb-3">
            <label for="usuario" class="form-label"><b>Usuario</b></label>
            <input
              type="text"
              class="form-control"
              id="usuario"
              name="usuario"
              placeholder="Escriba su Usuario..."
            />
          </div>
          <div class="mb-3">
            <label for="clave" class="form-label"><b>Clave</b></label>
            <input
              type="password"
              class="form-control"
              id="clave"
              name="clave"
              placeholder="Escriba su clave.."
            />
          </div>
          <div style="text-align: center">
            <button type="submit" class="btn btn-primary">
              Ingresar al Sistema
            </button>
          </div>
          <br />
          <div style="text-align: center">
            <p>
              ¿No te has registrado?<a href="{{ url_for('perfil') }}">
                <b>Registrate</b></a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
  <!-- Referencia a Bootstrap JS -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</html>